@charset "utf-8";
/* CSS Document */


#gallery {
   line-height:0;
   column-count:3; 
   column-gap:5px;
   transition: filter 2s;
}

#gallery img {
   width: 100%;
   height: auto;
   margin-bottom:5px;
}

@media (max-width: 1200px) {
	#gallery {
    column-count:         4;
   }
}

@media (max-width: 1000px) {
   #gallery {
    column-count:         3;
   }
}

@media (max-width: 800px) {
   #gallery {
    column-count: 2;
   }
}

@media (max-width: 400px) {
   #gallery {
    column-count:    1;
   }
}